// ---------------------------------------------------------------------------
// Imports
 
@import "base";
@import "susy";
@import "compass/css3";
 
$total-columns : 12;
$column-width  : 58px;
$gutter-width  : 20px;
$grid-padding  : $gutter-width / 2;


/*
$pad: 480px 6;
$desk: 768px 12;
 

$bubble-c: #d54881;
$step-c: #E9416B;
$step-c-a: #BEBEBE;
*/
/* -------------------------------------------------------------------------*/
/* Layout */
@include border-box-sizing;

.container 
{
 
    /* min */
    @include container;
    @include susy-grid-background;

 	/* 640
 	@include at-breakpoint($pad) 
 	{
 	     @include container;
 	     @include susy-grid-background;
 	 } 
    */
    /* 1024 
    @include at-breakpoint($desk) 
    {
        @include container;
        @include susy-grid-background;
    }
    */
    /* max 
    @include at-breakpoint(1280px 12)
    {
        @include container;
        @include susy-grid-background;
    }*/
    .top
        {
            @include span-columns( 12 ,12);
            background: rgba(#CDCEC6,0.85);
            padding:  gutter(9);
            color: #7B7D6C;
            a { text-decoration: none };
            a:link {color:#7B7D6C};
            a:visited {color:#7B7D6C};
            a:active {color:#7B7D6C};
            a:hover {color:#d54881};
        }
    .first
        {
            @include span-columns( 2 ,12);
        }
    .link
        {
            margin-right: gutter(10);
            font-size: 12px;
             
 
        }
    .border
        {
           
            border: 1px solid #878A77;
            @include span-columns( 12 ,12);
            margin-top: 20px;
        }
    .border_a
        {
            border-bottom: 1px solid #878A77;
            padding: gutter(72);
            @include span-columns( 12 ,12);
        }
    .word
        {
            font-family: Microsoft JhengHei;
            text-align: center;
            font-size: 13px;
            letter-spacing:0px;
            color: #747766;
        }
    .d_img
        {
            @include span-columns( 12 ,12);
            height: 25px;
            background-color: rgba(#747766, 0.86);
            color: #FFFFFF;
        }
    .title
        {
            @include span-columns(1.2, 8);
            margin: 3px;
            height: 19px;
        }
    .title_a
        {
            @include span-columns(1.7, 8);
            border-left: 1px solid #D2D3CD;
            height: 19px;
            margin: 3px;
            position: relative;
        }
    .title_b
        {
            @include span-columns(2.25, 11);
            height: 19px;
            text-align: left;
            margin-top: 3px;
            margin-right: 0px;
            margin-left: -8px;
        }
    .omega 
        {
            @include omega;
        }
    .arrow
        {
           top: 4px;
           left: 140px;
           position: absolute;
           width: 0px;
           height: 0px;
           border-style: solid;
           border-width: 0 4.5px 8px 4.5px;
           border-color: transparent transparent #ffffff transparent;
           line-height: 0px;
           _border-color: #000000 #000000 #ffffff #000000;
           _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        }
    .arrow_a
        {
           top: 4px;
           left: 140px;
           position: absolute;
           width: 0px;
           height: 0px;
           border-style: solid;
           border-width: 7.8px 4.5px 0 4.5px;
           border-color: #ffffff transparent transparent transparent;
           line-height: 0px;
           _border-color: #ffffff #000000 #000000 #000000;
           _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        }
    .d_img_a
        {
            @include span-columns( 12 ,12);
            height: 25px;
        }
    .text-align
        {
            text-align: left;
        }
    .margin-top
        {
            margin-top: 7px;
        }
    .proudct
        {
            @include span-columns( 12 ,12);
        }
    .name
        {
            @include span-columns( 3 ,10);
            margin-top: gutter(10);
            margin-bottom: gutter(10);
           
        }
    .middle
        {
            margin-top: gutter(10);
        }
    .td_img
        {
            margin-left: 14px;
        }
    .name_a
        {
            
            @include span-columns( 2.1 omega ,3);
            padding-top: 3px;
        }
    .span
        {
            font-size: 16px;
            font-weight: bolder;
            color: #0000FF;
        }
    .line
        {
            margin-left: gutter(5)

        }
    .table
        {
            @include span-columns( 6 omega ,12);
            margin-top: gutter(8);
        }
    .cross
        {
            padding-left: gutter(8);
        }
    .style
        {
            color: #d54881;
            text-decoration:underline;

        }

/*
    .table
        {
            @include span-columns( 4 ,4);
            @include at-breakpoint($pad) 
                {
                    @include span-columns( 6 ,6);
                } 
            @include at-breakpoint($desk) 
                {
                    @include span-columns( 8 ,8);
                    
                }
        }


    .td_a
        {
            width: 130px;
            padding:  gutter(16);
            height: 10px;
        }
    .td_b
        {
            
            margin-left:  gutter(4);
        }
    
    .ma   
        {

            @include span-columns( 4 omega ,12);
            margin-top: gutter(4);
            margin-left: gutter(2);
            margin-bottom: gutter(4);
            @include span-columns( 3 ,4);
            @include at-breakpoint($pad) 
                {
                    @include span-columns( 4 omega ,6);
                    width: 70%;
                } 
            @include at-breakpoint($desk) 
                {
                    @include span-columns( 4 omega ,8);
                    width: 55%;
                }

        }
*/

}